@import '~bootstrap/dist/css/bootstrap.css';

//fonts
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&subset=latin-ext');
//font-family: 'Amatic SC', cursive;

//colors
$white-smokey: #f5efda;
$white-smokey-opacity: rgba(245,239,218,0.1);
$white: #fff;
$pink: #e7536b;
$grey: #5e5e5e;
$darkBlue: #2e3b4e;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:active, *:focus, *:link {
    outline: none !important;
    outline-offset: 0 !important;
    text-decoration: none !important;
}

.navbar {
    background-color: transparent;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    height: 100px;
    .navbar-text {
        font-size: 20px;
        font-weight: 500;
        margin-top: 15px;
        .name {
            color: $white-smokey;
            font-family: 'Amatic SC', cursive;
            font-size: 50px;
            font-weight: 700;
            margin-top: 30px;
            &:hover {
                text-decoration: none;
                color: $grey;
            }
        }
    }
}

.navbar-brand {
    height: 100%;
    line-height: 100px;
}


.solar-system {
    background: url("http://68.media.tumblr.com/de5c442418ca5e89a607946bcbe51fd4/tumblr_o0i8083kzM1teue7jo1_1280.jpg");
    background-size: cover;
    height: 700px;
    margin-top: -100px;
    text-align: center;
    h1 {
        color: $white-smokey;
        line-height: 700px;
    }
}


.planet-info {
    background-color: $darkBlue;
    color: $white-smokey;
    .container {
        margin-top: 50px;
        margin-bottom: 50px;
        h4 {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}



.section-trees {
    padding: 0;
    background: url('./images/trees.jpg');
    background-size: cover;
    background-position: center center;
    opacity: percentage(0.5);
    height: 400px;
    .purple-opacity {
        height: 400px;
        width: 100%;
        background-color: rgba(77,31,93,0.5);
    }
}

//button

.button-position {
    vertical-align: middle;
    text-align: center;
    .button-purple {
        float: none !important;
        margin-top: 180px;
        padding: 20px 50px;
        border-radius: 800px;
        &:hover {
            background-color: $white;
        }
        p {
            margin: 0;
            font-family: 'Amatic SC', cursive;
            font-size: 25px;
            font-weight: 700;
        }
    }
}

.nasa {
    background-color: $white-smokey;
    .nasa-item {

        text-align: center;
        margin: 20px;
        background-color: $white-smokey;
        h4 {
            font-size: 30px;

        }
    }
}

.image {
    margin: 0 auto;
}

.image-description {
    margin: 30px;
    font-size: 18px;
}

//footer

.footer {
    background-color: $pink;
    overflow: hidden;
}

.icons {
    text-align: center;
    .rocket-icon {
        transform: rotate(50deg);
        transform-origin: 50% 50%;
    }
}

@media (max-width: 767px) {
    .name {
        font-size: 15px !important;
    }
    .button-purple {
        p {
            font-size: 15px !important;
        }
    }
    .solar-system {
        height: 400px !important;
        h1 {
            line-height: 400px !important;
            text-align: justify !important;
            font-size: 25px !important;
        }
    }
    .image-description {
        font-size: 15px !important;
        margin: 5px !important;
    }
}