@import '~bootstrap/dist/css/bootstrap.css';
//colors
$white-smokey: #f5efda;
$white-smokey-opacity: rgba(245,239,218,0.1);
$pink: #e7536b;
$grey: #5e5e5e;
$darkBlue: #2e3b4e;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: $pink;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    height: 100px;
    .navbar-text {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        .link {
            a {
                color: $white-smokey;
                padding: 0;
                margin-right: 15px;
                line-height: 100px;
                &:hover {
                    text-decoration: none;
                    color: $grey;
                }
            }
        }
    }
}

.navbar-brand {
    height: 100%;
    line-height: 100px;
}

.planet-info {
    background-color: $darkBlue;
    color: $white-smokey;
    .container {
        margin-top: 50px;
        margin-bottom: 50px;
        h4 {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}

.solar-system {
    background: url("http://68.media.tumblr.com/de5c442418ca5e89a607946bcbe51fd4/tumblr_o0i8083kzM1teue7jo1_1280.jpg");
    background-size: cover;
    height: 700px;
    h1 {
        color: $white-smokey;
        text-align: center;
        line-height: 700px;
    }
}

.icons {
    text-align: center;
    .rocket {
        transform: rotate(50deg);
        transform-origin: 50% 50%;
    }
}

.section-pink {
    padding: 0;
    background: url('./images/trees.jpg');
    background-size: cover;
    background-position: center center;
    opacity: percentage(0.5);
    height: 400px;
    .pink-opacity {
        height: 400px;
        width: 100%;
        background-color: rgba(77,31,93,0.5);
    }
}

.nasa {
    background-color: $white-smokey;
    .nasa-item {

        text-align: center;
        margin: 20px;
        background-color: $white-smokey;
        h4 {
            font-size: 30px;

        }
    }
}

.image {
    text-align: center;
}

.image-description {
    margin: 30px;
    font-size: 18px;
}

//----------Home

.nav-home {
    background-color: transparent;
    border-bottom: 0.1px solid $white-smokey-opacity;
    .link-home{
        a {
            &:hover {
                color: $white-smokey !important;
                border-bottom: 1px solid $white-smokey !important;
            }
        }
    }
}


.section-with-img {
    background: url("./images/stars.jpg") center no-repeat;
    background-size: cover;
    height: 800px;
    margin-top: -98px;
}

.section-about-me {
    background-color: $darkBlue;
    min-height: 400px;
    height: 100%;
    .dark-blue-section {
        padding-right: 20%;
        padding-left: 20%;
    }
}

.footer {
    background-color: $pink;
    overflow: hidden;
}